[Unit]
Description=puredata service
StartLimitIntervalSec=0
After=rock_jackd.service

[Service]
Type=oneshot
#Restart=always
#RestartSec=1
User=rock
#WorkingDirectory=~/Documents/leminrock/
ExecStart=/home/rock/.puredata

[Install]
WantedBy=multi-user.target
