[Unit]
Description=jackd service
StartLimitIntervalSec=0

[Service]
Type=oneshot
User=root
WorkingDirectory=/home/odisseo/Documenti/express_temp
Environment="JACK_NO_AUDIO_RESERVATION=1"
ExecStart=/usr/bin/npm start
Type=idle

[Install]
WantedBy=multi-user.target
