[Unit]
Description=jackd service
StartLimitIntervalSec=0

[Service]
Type=oneshot
#Restart=always
#RestartSec=1
User=root
#WorkingDirectory=~/Documents/leminrock/
Environment="JACK_NO_AUDIO_RESERVATION=1"
ExecStart=/usr/bin/jackd -R -P 95 -d alsa -d hw:1 -r 44100 -p 256
Type=idle

[Install]
WantedBy=multi-user.target
