[Unit]
Description=wifi button service
StartLimitIntervalSec=0

[Service]
Type=oneshot
#Restart=always
#RestartSec=1
User=root
WorkingDirectory=~/Documents/leminrock/hardware/network_button
ExecStart=~/Documents/leminrock/hardware/network_button/button.py 

[Install]
WantedBy=multi-user.target
